html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    color: #141414;
    max-width: 375px;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "...."
        "head"
        "main"
        "foot"
        "....";
}
header {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    margin-left: 1.25em;
    margin-right: 1.25em;
}
header p {
    font-weight: bold;
}
main {
    grid-area: main;
}

nav {
    padding-top: 1em;
}
a {
    text-decoration: none;
    color: #090909;
    text-transform: uppercase;
}
a:hover {
    color: #0a9396;
}
.home-link {
    margin-right: 8px;
}

.hero {
    grid-area: hero;
    padding: 0 1.25em;
}

.hero h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
}
.hero .date {
    margin-top: 3em;
}
.date {
    font-size: 0.75rem;
    text-transform: uppercase;
}
.recents {
    grid-area: rece;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.25em;
}
section {
    display: flex; 
    flex-direction: column;
    align-items: start;
    margin-bottom: 2.25em;
}
.blog-one,
.blog-two,
.blog-three {
    margin-left: 1.25em;
    margin-right: 1.25em;
}
.blog-one .date,
.blog-two .date,
.blog-three .date {
    margin-bottom: 0;
}
.blog-one h2,
.blog-two h2,
.blog-three h2 {
    margin-bottom: 0;
    margin-top: 0
}

.blog-one-text,
.blog-two-text,
.blog-three-text {
    margin-bottom: 1em;
    margin-top: 0.625em;
}

.steven-tyler,
.slaughter,
.robert-mason {
    height: 350px;
}

footer {
    grid-area: foot;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    color: #ECECEC;
    align-items: center;
    font-size: 0.75em;
}
.site-name {
    font-weight: bold;
    margin-bottom: 0;
}
.copyright {
    margin-top: 0;
}

@media(min-width: 1085px) {
    header {
        justify-content: space-between;
        font-size: 1.25rem;
        margin-bottom: 1em;
    }
    header p {
        font-weight: bold;
        margin-left: 0;
        margin-bottom: 0;
    }
    nav {
        font-size: 1em;
    }
    .about-me {
        margin-right: 1em;
        margin-left: 2em;
    }
    main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            ".... .... ...."
            "head head head"
            "hero hero hero"
            ".... rece ...."
            "one two thre"
            "foot foot foot"
            ".... .... ....";
    }
    .hero {
        min-height: 480px;
        padding: 1em 1.5em;
    }
    .hero p,
    .hero h1,
    .hero h3 {
        width: 840px;
        margin: 0.75em auto;
    }
    .hero p,
    .hero h3,
    .recents {
        font-size: 1.125rem;
    }
    .hero .date {
        margin: 0 auto;
    }
    .hero img {
        width: 100%
    }
    .blog-one {
        grid-area: one;
    }
    .blog-two {
        grid-area: two;
    }
    .blog-three {
        grid-area: thre;
    }
 
    .steven-tyler,
    .slaughter,
    .robert-mason {
        height: 350px;
    }
}