html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    color: #141414;
    max-width: 375px;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "...."
        "head"
        "main"
        "foot"
        "....";
}
header {
    grid-area: head;
    display: flex;
    justify-content: space-around;
    font-size: 0.75rem;
}
header p {
    font-weight: bold;
}
main {
    grid-area: main;
}

nav {
    padding-top: 1em;
}
a {
    text-decoration: none;
    color: #090909;
    text-transform: uppercase;
}
a:hover {
    color: #0a9396;
}
.home-link {
    margin-right: 8px;
}

.hero {
    grid-area: hero;
    background-image: url("/images/pass-1.jpeg");
    background-size: cover;
    color: #FFFFFF;
    padding: 5.3em 1.25em 1.25em 1.56em;
    text-shadow: 2px 2px #404040;
}

.hero h1 {
    font-size: 2rem;
    font-weight: bold;
}
.date {
    font-size: 0.75rem;
    text-transform: uppercase;
}

section {
    display: flex; 
    flex-direction: column;
    align-items: start;
    margin-bottom: 2.25em;
}
.blog-one,
.blog-two,
.blog-three {
    margin-left: 1.25em;
    margin-right: 1.25em;
}
.blog-one .date,
.blog-two .date,
.blog-three .date {
    margin-bottom: 0;
}
.blog-one h2,
.blog-two h2,
.blog-three h2 {
    margin-bottom: 0;
    margin-top: 0
}
.steven-tyler,
.slaughter,
.robert-mason {
    margin-bottom: 1em;
}
.blog-one-text,
.blog-two-text,
.blog-three-text {
    margin-top: 0.625em;
}
.blog-four,
.blog-five,
.blog-six {
    display: none;
}

footer {
    grid-area: foot;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    color: #ECECEC;
    align-items: center;
    font-size: 0.75em;
}
.site-name {
    font-weight: bold;
    margin-bottom: 0;
}
.copyright {
    margin-top: 0;
}

@media(min-width: 1085px) {
    main {
        grid-area: main;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        grid-template-areas: 
            "... ... ...."
            "head head head"
            "hero hero hero"
            "one two thre"
            "four five six"
            "foot foot foot"
            "... ... ....";
    }
    .hero {
        /* width: 100%; */
        min-height: 500px;
    }
    .blog-one {
        grid-area: one;
    }
    .blog-two {
        grid-area: two;
    }
    .blog-three {
        grid-area: thre;
    }
    .blog-four {
        display: block;
        grid-area: four;
    }
    .blog-five {
        display: block;
        grid-area: five;
    }
    .blog-six {
        display: block;
        grid-area: six;
    }
}