html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
    color: #141414;
    max-width: 375px;
}
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "...."
        "head"
        "main"
        "foot"
        "....";
}
header {
    grid-area: head;
    display: flex;
    justify-content: space-around;
    font-size: 0.75rem;
}
header p {
    font-weight: bold;
}
main {
    grid-area: main;
}

nav {
    padding-top: 1em;
}
a {
    text-decoration: none;
    color: #090909;
    text-transform: uppercase;
}
a:hover {
    color: #0a9396;
}

.hero {
    grid-area: hero;
    background-image: url("/images/JohnnySingo.jpg");
    background-size: cover;
    color: #FFFFFF;
    padding: 5.3em 1.25em 1.25em 1.56em;
    text-shadow: 2px 2px #404040;
}

.hero h1 {
    font-size: 2rem;
    font-weight: bold;
}
.date {
    font-size: 0.75rem;
    text-transform: uppercase;
}
.home-link {
    margin-right: 8px;
}

section {
    border: 1px solid red;
    display: flex; 
    flex-direction: column;
    align-items: start;
    margin-bottom: 2.25em;
}
.blog-one,
.blog-two,
.blog-three {
    margin-left: 1.25em;
    margin-right: 1.25em;
}
.blog-one h2,
.blog-two h2,
.blog-three h2 {
    margin-bottom: 0.625em;
    margin-top: 0
}
.steven-tyler,
.slaughter,
.robert-mason {
    margin-bottom: 1em;
}

footer {
    grid-area: foot;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    color: #ECECEC;
    align-items: center;
    font-size: 0.75em;
}
.site-name {
    font-weight: bold;
    margin-bottom: 0;
}
.copyright {
    margin-top: 0;
}